body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}

.container {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 95%;
    max-width: 600px;
    height: 95vh;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 15px;
    box-sizing: border-box;
}

h1 {
    color: #007bff;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
}

/* Khu vực trạng thái */
.status-panel {
    background: #d8dcdf;
    padding: 15px;
    border-radius: 8px;
    /* margin-bottom: 15px; */
    text-align: left;
    font-size: 0.9em;
}

.status-panel strong {
    color: #28a745;
    font-weight: bold;
}

.status-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-bottom: 5px; */
}

#message-log {
    margin: 5px 0;
}

.toggle-speed-group {
    display: block;
}

/* Nút chuyển chế độ */
#mode-toggle-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    flex-shrink: 0;
}

.mode-manual {
    background-color: #ffc107;
    color: #333;
    box-shadow: 0 2px 5px rgba(255, 193, 7, 0.5);
}
.mode-auto {
    background-color: #17a2b8;
    color: white;
    box-shadow: 0 2px 5px rgba(23, 162, 184, 0.5);
}

.speed-control {
    flex-grow: 1;
    margin-left: 15px;
    text-align: right;
}

.slider {
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 5px;
    -webkit-appearance: none;
    margin-top: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.control-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.control-pad {
    padding: 10px;
    transition: opacity 0.3s;
    width: 100%;
    max-width: 400px;
}

.control-pad .row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.control-img {
    width: 75px; 
    height: 75px;
    margin: 8px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3), inset 0 0 10px rgba(255,255,255,0.5);
    transition: transform 0.1s ease-in-out;
    background-color: #f0f0f0; 
    object-fit: contain;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.stop-img {
    background-color: #e28991;
}

.control-img:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 3px rgba(0,0,0,0.4), inset 0 0 5px rgba(0,0,0,0.8);
}